* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    text-align: center;
}

main {
    margin-bottom: 100px;
}

.container {
    display: flex;
}

.management-box {
    padding: 10px;
    min-width: 300px;

}

.management {
    border-bottom: 1px solid #fff;
}

.management ul {
    list-style: none;
}

.management ul li {
    padding: 10px;
}

.management ul li a{
    color: #fff;
    text-decoration: none;
}


.projects-box ul {
    list-style: none;
}

.projects-box ul li {
    padding: 10px;
}

.projects-box ul li a{
    color: #fff;
    text-decoration: none;
}
  

#task-form {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    border: 1px solid #fff;
}


.form #description {
    height: 60px;
    vertical-align: top;    
    padding: 5px;
    resize: none;    
}

#todayTask{
    display: none;
}

#AllTask {
    display: none;
}

.newTask-box {
    display: grid;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.task-edit, .task-delete {
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#todayTask-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

#showTodayForm {
    display: none;
}

.form>div {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.form>div>input {
    padding: 5px;
}

.form #todayDescription {
    height: 60px;
    vertical-align: top;    
    padding: 5px;
    resize: none;    
}

footer {
    color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    font-size: larger;
    font-weight: bold;
}

svg {
    width: 50px;
    height: 30px;
}

.box-button {
    border: none;
    color: #000;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.box-button:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.5s ease-in-out;
}








